<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
    </head>
    <body>
        <div>Microblog:
            <!-- navigation bar quick links -->
            <a href="{{ url_for('home_index') }}">Home</a>
            {% if current_user.is_anonymous %}          <!--current_user is from flask-login-->
                <a href="{{ url_for('login') }}">Login</a>
            {% else %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        <!-- code to handle flashed message -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <!-- main body produced by children-->
        {% block content %}{% endblock %}
    </body>
</html>